<div>
  <div style="display: inline-block; width: 300px;">
    <canvas baseChart
            [labels]="pieChartLabels"
            [options]="pieChartOptions"
            [type]="pieChartType"></canvas>
  </div>

  <div style="display: inline-block; width: 300px;">
    <canvas baseChart
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [type]="barChartType"></canvas>
  </div>

  <div style="display: inline-block; width: 300px;">
    <canvas baseChart
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [type]="lineChartType">
          </canvas>
  </div>
</div>



