<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card" >
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>More Data to Show</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Open</button>
              <button mat-menu-item>Delete</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">

          <ng-container *ngIf="card.componentToShow">
            <ng-container *ngComponentOutlet="card.componentToShow"></ng-container>
          </ng-container>

        </mat-card-content>
        <!-- <div *ngFor="let subCard of card.subCards" class="sub-card">
          <h4>{{ subCard.title }}</h4>
          <h4>{{ subCard.content }}</h4> -->
          <!-- Add sub-card content here if needed -->
        <!-- </div> -->
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>


